page-login {
    img {
       width: 260px;
       margin: 101px 0px 40px 0px; 
   }

   .content {
       background: url(../assets/img/onboarding/Background.png);
       background-size: cover;
       background-repeat: no-repeat;
       text-align: center;
   }

   button {
       height: 34px !important;
       text-align: center !important;
       border-radius: 0px !important;
       margin: 0px !important;
       padding: 11px 0px !important;
       font-family: 'gooddog_plainregular' !important;
       font-size: 12px !important;
       letter-spacing: 0.075em !important;
       font-weight: bold !important;
   }
}
