page-register {
    img {
       width: 260px;
       margin: 101px 0px 24px 0px; 
   }

   .content {
       background: url(../assets/img/onboarding/Background.png);
       background-size: cover;
       background-repeat: no-repeat;
       text-align: center;
   }

   .item-ios {
        padding-left: 0px;
        color: #FFF;
        background-color: transparent; 
    }

    .item-ios.item-block .item-inner {
        padding-right: 0px;
        border-bottom: 0px;
    }

    .label-ios[stacked] {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 4px;
        font-size: 9px;
        font-weight: bold;
        letter-spacing: 0.075em;
    }

    #loginContainer {
        width: 260px;
        margin: 0px auto;
    }

    .item-input ion-input {
        background: #d6d6d6; 
        background: -moz-linear-gradient(top,  #d6d6d6 0%, #ffffff 100%); 
        background: -webkit-linear-gradient(top,  #d6d6d6 0%,#ffffff 100%); 
        background: linear-gradient(to bottom,  #d6d6d6 0%,#ffffff 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=0 );
        height: 27px; 
        font-family: 'Open Sans', sans-serif;
        font-size: 9px;
        font-weight: bold;
        letter-spacing: 0.075em;
        color: #222;
        padding-left:5px;
        padding-right:5px;
    }

   button {
       height: 34px !important;
       text-align: center !important;
       border-radius: 0px !important;
       margin: 0px !important;
       margin-top:30px !important;
       padding: 11px 0px !important;
       font-family: 'gooddog_plainregular' !important;
       font-size: 12px !important;
       letter-spacing: 0.075em !important;
       font-weight: bold !important;
   }
}
