<!-- Fixed Menu Header -->
<ion-header>
  <ion-navbar>
    <img id="NavLogo" src="assets/img/home/NavLogo.png"/>
    <button ion-button end menuToggle>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content class="content">
    <!-- User Heading -->
    <div class="heading">
      <img id="userImage" [src]="userImage" />
      <p id="username">{{username}}</p>
      <div id="progressBar">
        <div id="progressBarInner" [style.width]="getUserExp() + '%'"></div>
        <div id="level">Level {{userLevel}}</div>
      </div>
    </div>

  <div class="content-inner">
    <!-- Tagline -->
    <p id="tag">Let us take you on the ultimate journey of discovery...</p>

    <!-- Discovery Link Buttons -->
    <button ion-button full class="discoverybtn mammals" color="mammals" (click)="Discovery($event, 'mammals')">Mammals</button>
    <button ion-button full class="discoverybtn birds" color="birds" (click)="Discovery('birds')">Birds</button>
    <button ion-button full class="discoverybtn reptiles" color="reptiles" (click)="Discovery('reptiles')">Reptiles</button>
    <button ion-button full class="discoverybtn invertebrates" color="inverts" (click)="Discovery('invertebrates')">Invertebrates</button>
  </div> <!-- /content-inner>-->

  <!-- Creature Canvas -->
  <div id="creatureCanvas">
    <div class="content-inner">

      <p>Creature Canvas</p>

      <!-- Slider -->
      <ion-slides (ionSlideDidChange)="hideOverlay()">
        <ion-slide (click)="showOverlay()">
          <img class="canvasImage" src="assets/img/gallery/1.png" />
          <div *ngIf="display" class="canvasOverlay">
            <p>Alfie and Me</p>
            <p>Liane</p>
            <p>12/03/17</p>
          </div>
        </ion-slide>
        <ion-slide (click)="showOverlay()">
          <img class="canvasImage" src="assets/img/gallery/1.png" />
          <div *ngIf="display" class="canvasOverlay">
            <p>Alfie and Me</p>
            <p>Liane</p>
            <p>12/03/17</p>
          </div>
        </ion-slide>
        <ion-slide (click)="showOverlay()">
          <img class="canvasImage" src="assets/img/gallery/1.png" />
          <div *ngIf="display" class="canvasOverlay">
            <p>Alfie and Me</p>
            <p>Liane</p>
            <p>12/03/17</p>
          </div>
        </ion-slide>
      </ion-slides>

      <button class="canvasButton" ion-button full (click)="addCanvas()">More Precious Moments</button>

    </div><!-- /content-inner>-->
  </div><!-- ./Creature Canvas-->

  <!-- New Residents -->
  <div id="newResidents">
    <p>Say Hi to the New Guys!</p>

    <!-- New Resident -->
    <ion-card color="mammals">
      <div class="newResidentImage" style="background-image: url(../assets/img/mammals/hero/1.jpg);"></div>
      <ion-card-content>
          <ion-card-title>
            Annie
          </ion-card-title>
          <p class="newResidentText">
            Annies story will be told here in a few short paragraphs and it will be all about how she started life at the centre. Some of these stories have bad starts but have a very happy ending.
          </p>
      </ion-card-content>
    </ion-card><!-- New Resident -->

    <!-- New Resident -->
    <ion-card color="reptiles">
      <div class="newResidentImage" style="background-image: url(../assets/img/mammals/hero/2.jpg);"></div>
      <ion-card-content>
          <ion-card-title>
            Lucius
          </ion-card-title>
          <p class="newResidentText">
            Lu was my snake really but he was so awesome he gets a spot on here because he deserves to be rememberes, my little ladies man. His story has a happy start and is mostly happy thoughout, my little best bud!
          </p>
      </ion-card-content>
    </ion-card><!-- New Resident -->

    <!-- New Resident -->
    <ion-card color="mammals">
      <div class="newResidentImage" style="background-image: url(../assets/img/mammals/hero/1.jpg);"></div>
      <ion-card-content>
          <ion-card-title>
            Annie
          </ion-card-title>
          <p class="newResidentText">
            Annies story will be told here in a few short paragraphs and it will be all about how she started life at the centre. Some of these stories have bad starts but have a very happy ending.
          </p>
      </ion-card-content>
    </ion-card><!-- New Resident -->

  </div><!-- ./New Residents-->

  <!-- Donatation -->
  <div id="donate">
    <div class="content-inner">

      <p>Gentleshaw wildlife centre survives almost entirely on donations from the public, admission goes towards the upkeep and care of our animals. Please help us to keep going!</p>
      <button ion-button full class="canvasButton" (click)="donate()">Donate</button>

    </div><!-- ./content-inner -->
  </div><!-- ./Donation -->
  
</ion-content>

