<!-- Fixed Menu Header -->
<ion-header>
  <ion-navbar>
    <img id="NavLogo" src="assets/img/home/NavLogo.png"/>
    <button ion-button end menuToggle>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content class="content">
    <!-- User Heading -->
    <div class="heading">
      <img id="userImage" [src]="userImage" />
      <p id="username">{{username}}</p>
      <div id="progressBar">
        <div id="progressBarInner" [style.width]="getUserExp() + '%'"></div>
        <div id="level">Level {{userLevel}}</div>
      </div>
    </div>

  <div class="content-inner">
    <!-- Tagline -->
    <p id="tag">Let us take you on the ultimate journey of discovery...</p>

    <!-- Discovery Link Buttons -->
    <button ion-button full class="discoverybtn mammals" color="mammals" (click)="Discovery($event, 'mammals')">Mammals</button>
    <button ion-button full class="discoverybtn birds" color="birds" (click)="Discovery($event, 'birds')">Birds</button>
    <button ion-button full class="discoverybtn reptiles" color="reptiles" (click)="Discovery($event, 'reptiles')">Reptiles</button>
    <button ion-button full class="discoverybtn invertebrates" color="inverts" (click)="Discovery($event, 'invertebrates')">Invertebrates</button>
  </div> <!-- /content-inner>-->

  <!-- Creature Canvas -->
  <div id="creatureCanvas">
    <div class="content-inner">

      <p>Creature Canvas</p>

      <!-- Slider -->
      <ion-slides (ionSlideDidChange)="hideOverlay()">
        <ion-slide *ngFor="let canvas of canvases" (click)="showOverlay()">
          <img class="canvasImage" src="{{canvas.Image}}" />
          <div *ngIf="display" class="canvasOverlay">
            <p>{{canvas.Name}}</p>
          </div>
        </ion-slide>
      </ion-slides>

      <button class="canvasButton" ion-button full (click)="addCanvas()">More Precious Moments</button>

    </div><!-- /content-inner>-->
  </div><!-- ./Creature Canvas-->

  <!-- New Residents -->
  <div id="newResidents">

    <p>Say Hi to the New Guys!</p>

    <!-- New Resident -->
    <ion-card *ngFor="let resident of newResidents" color="{{resident.Discoveryid}}">
      <div class="newResidentImage" [ngStyle]="{'background-image': 'url(' + resident.Picture + ')'}"></div>
      <ion-card-content>
          <ion-card-title>
            {{resident.Name}}
          </ion-card-title>
          <p class="newResidentText">
            {{resident.Story}}
          </p>
      </ion-card-content>
    </ion-card><!-- New Resident -->

  </div><!-- ./New Residents-->

  <!-- Donatation -->
  <div id="donate">
    <div class="content-inner">

      <p>Gentleshaw wildlife centre survives almost entirely on donations from the public, admission goes towards the upkeep and care of our animals. Please help us to keep going!</p>
      <button ion-button full class="canvasButton" (click)="donate()">Donate</button>

    </div><!-- ./content-inner -->
  </div><!-- ./Donation -->
  
</ion-content>

