// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------




// Named Color Variables
// --------------------------------------------------

$colors: (
  primary:    #33c217,
  secondary:  #259e39,
  light:      #e7e7e7,
  dark:       #222,
  mammals:    #57cbe1,
  birds:      #62e0c1,
  reptiles:   #7fe092,
  inverts:    #b7f275
);


// App iOS Variables
// --------------------------------------------------




// App Material Design Variables
// --------------------------------------------------




// App Windows Variables
// --------------------------------------------------




// App Theme
// --------------------------------------------------

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
