page-discovery-resident {
    .breadcrumbs {
        font-family: 'Open Sans', sans-serif;
        font-size: 9px;
        text-transform: lowercase;
        font-variant: small-caps;
        color: #E7E7E7;
        letter-spacing: 0.075em;
        height: 26px;
        background: #222;
        padding: 6px;
        padding-left: 15px;
    }
    .residentImage {
        height: 108px;
        background-size:cover;
        background-position-y: center;
        text-align: right;
        padding:10px;
        padding-right: 27px;
        .resident-icon {
            color: #E7E7E7;
            margin-left: 8px;
            font-size: 25px !important;
        }
    }
    .title {
        height: 31px;
        font-family: 'gooddog_plainregular';
        font-size: 30px;
        font-variant: small-caps;
        font-weight: 700;
        color: #E7E7E7;
        letter-spacing: 0.075em;
        background: #222;
        padding: 1px;
        padding-left: 15px;
    }
    .intro {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        color: #222;
        letter-spacing: 0.075em;
        background: #E7E7E7;
        padding: 6px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
        span {
            color: #33c217;
        }
    }
    .at-a-glance {
        background: #222;
        height: 130px;
        padding: 15px;
        padding-bottom: 0px;
        overflow: auto;
        margin-top: 8px;
        margin-bottom: 45px;
        .human {
            background-image: url(../assets/img/discovery/human.png);
            height: 118px;
            width: 53px;
            float: left;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: -25px;
        }
        .sizegraphic {
            height: 114px;
            width: 75px;
            float: left;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position-y: bottom;
            background-position-x: left;
            margin-left: 5px;
        }
        .stats {
            text-align: right;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            color: #E7E7E7;
            letter-spacing: 0.075em;
            .stats-title {
                color: #33c217;
            }
            span {
                color: #535050;
            }
        }
    }
    .did-you-know {
            background: #259e39;
            padding: 15px;
            color: #E7E7E7;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            letter-spacing: 0.075em;
            margin-top: 45px;
            ul {
                margin-top: 15px;
                padding: 15px;
                padding-top: 0px;
                padding-bottom: 0px;
                li {
                    list-style-image: url(../assets/img/discovery/list.png);
                    color: #222;
                    text-transform: none;
                    margin-bottom: 10px;
                }
            }
    }
    .adopt {
        .adopt-img {
            text-align: right;
            margin-top: 45px;
            .adopt-img-reverse {
                -webkit-filter: invert(1);
                filter: invert(1);
                width: 25%;
                margin-right: 15px;
            }
        }
        .adopt-button {
            background: #222;
            font-family: 'gooddog_plainregular';
            color: #259e39;
            font-size: 18px;
            text-align: center;
            padding: 15px;
            letter-spacing: 0.050em;
            margin-top:-5px;
            span {
                display: block;
                margin-bottom: 5px;
            }
            .call-small {
                font-size: 17px;
            }
            button {
                width: 100%;
                background: #259e39;
                color: #222;
                text-align: center;
                border: 0;
                font-size: 18px;
                padding: 8px;
                margin-top: 8px;
                letter-spacing: 0.050em;
            }
        }
    }
}
