page-discovery-resident {
    .breadcrumbs {
        font-family: 'Open Sans', sans-serif;
        font-size: 9px;
        text-transform: lowercase;
        font-variant: small-caps;
        color: #E7E7E7;
        letter-spacing: 0.075em;
        height: 26px;
        background: #222;
        padding: 6px;
        padding-left: 15px;
    }
    .residentImage {
        height: 108px;
        background-size:cover;
        background-position-y: center;
    }
    .title {
        height: 31px;
        font-family: 'gooddog_plainregular';
        font-size: 30px;
        font-variant: small-caps;
        font-weight: 700;
        color: #E7E7E7;
        letter-spacing: 0.075em;
        background: #222;
        padding: 1px;
        padding-left: 15px;
    }
    .intro {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        color: #222;
        letter-spacing: 0.075em;
        background: #E7E7E7;
        padding: 6px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
        span {
            color: #33c217;
        }
    }
    .at-a-glance {
        background: #222;
        height: 125px;
        padding: 15px;
        padding-bottom: 0px;
        overflow: auto;
        margin-top: 8px;
        margin-bottom: 45px;
        .human {
            background-image: url(../assets/img/discovery/human.png);
            height: 115px;
            width: 53px;
            float: left;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .sizegraphic {
            height: 111px;
            width: 75px;
            float: left;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position-y: bottom;
            background-position-x: left;
            margin-left: 5px;
        }
        .stats {
            text-align: right;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            color: #E7E7E7;
            letter-spacing: 0.075em;
            .stats-title {
                color: #33c217;
            }
            span {
                color: #535050;
            }
        }
    }
}
