<!-- Fixed Menu Header -->
<ion-header>
  <ion-navbar>
    <img id="NavLogo" src="assets/img/home/NavLogo.png"/>
    <button ion-button end menuToggle>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>Gentleshaw {{section}}</ion-list-header>
    <ion-toolbar>
      <ion-searchbar placeholder="search" [(ngModel)]="queryResidents" (ionInput)="updateResidents()"></ion-searchbar>
    </ion-toolbar>
    <ion-item-group *ngFor="let species of residents">
      <ion-item-divider class="species-divider" color="{{section}}">{{species.SpeciesName}}</ion-item-divider>
      <ion-item *ngFor="let resident of species.Species" class="resident-item">
        <ion-avatar item-left>
          <img src="{{resident.Picture}}">
        </ion-avatar>
        <div class="name-species">
          <p>{{resident.Species}}</p>
          <h2>{{resident.Name}}</h2>
        </div>
        <div class="favourite">
          <ion-icon name="heart" (click)="addToFav(resident.Profileid, 1, resident.Name)"></ion-icon>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
